@font-face {
	/* https://www.theleagueofmoveabletype.com/orbitron */
	font-family: 'orbitron';
	src: url('../fonts/orbitron/orbitron-light-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

path {
/*	vector-effect: non-scaling-stroke; */
	shape-rendering: geometricPrecision;
}

.regionText {
	font: 25px orbitron, sans-serif !important;
	stroke: none;
}

.region.active {
	stroke: yellow;
	stroke-width: 2.5px;
	fill-opacity: 20%;
/*	animation: region-path--animation 0.6s ease 0s alternate infinite; */
}

@keyframes region-path--animation {
	from { stroke: yellow; }
	to { stroke: darkorange; }
}

.rulerlines {
	fill: orange;
	stroke: orange;
	stroke-width: 2;
	font-family: orbitron, sans-serif;
	font-size: 20px;
	pointer-events: none;
}

.rulertext {
	text-anchor: middle;
	dominant-baseline: hanging;
	stroke: none;
}
