@font-face {
	/* https://www.theleagueofmoveabletype.com/orbitron */
	font-family: 'orbitron';
	src: url('../fonts/orbitron/orbitron-light-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { width: 100%; height: 100%; margin: 0; }

/*
html {
	scrollbar-width: none;
}
*/

body {
	font-size: 100%;
	font-family: DejaVu Sans, Verdana, sans-serif;
	background-color: #000;
	color: #fff;
	overflow-anchor: none;
}

table {
	--tabs: 4;
}

/* @media screen and (min-width: 2201px) {table { --tabs: 5; }} */
/* @media screen and (max-width: 2200px) {table { --tabs: 4; }} */
/*
@media screen and (max-width: 1300px) {table { --tabs: 3; }}
@media screen and (max-width: 800px) {table { --tabs: 2; }}
@media screen and (max-width: 450px) {table { --tabs: 1; }}
*/

table {
	--baseWidth: calc(100% / var(--tabs));
	width: var(--baseWidth);
	max-width: 100%;
	float: left;
	border: 1px solid #f94;

	/* experimental */
	content-visibility: auto; /* the page is probably too short for this to have an effect */
	contain-intrinsic-size: auto;
	will-change: transform; /* quirk to force compositing, repaint tables individually */
}

table.narrow {
	width: calc(var(--baseWidth) * 0.6);
}

table.wide {
	width: calc(var(--baseWidth) * 1.4);
}

table.wider {
	width: calc(var(--baseWidth) * 2);
}

caption {
	display: none;
}

thead {
	font-family: orbitron, sans-serif;
	color: #f94;
}

tbody {
	font-size: 80%;
	text-align: right;
}

td, th {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Odyssey {
	background-color: #05b;
}

.Horizons {
	background-color: #b50;
}

.Base {
	background-color: #555;
}

.Legacy {
	background-color: #333;
}

.taxi {
	color: yellow;
	font-weight: bold;
}

.old {
	color: #aaa;
}

.new {
	color: #a00;
}

.longjump {
	font-weight: bold;
}


tr.data:hover {
	outline: 2px solid yellow;
}

.infobox {
	position: fixed;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	background-color: rgba(42, 42, 42, 0.9);
	color: #fff;
	border: 2px solid #555;
	overflow: auto;
	scrollbar-width: auto;
}

.infobox .infobox-header {
	position: sticky;
	top: 0px;
	background-color: #aaa;
	color: #000;
	padding: 0.25em;
}
