@font-face {
	/* https://www.theleagueofmoveabletype.com/orbitron */
	font-family: 'orbitron';
	src: url('../fonts/orbitron/orbitron-light-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { width: 100%; height: 100%; margin: 0; }

body {
	font-size: 100%;
	font-family: sans-serif;
	background-color: #000;
	color: #fff;
	overflow-anchor: none;
}

table {
	width: 25%;
	float: left;
	border: 1px solid #f94;
}

caption {
	display: none;
}

thead {
	font-family: orbitron, sans-serif;
	color: #f94;
}

tbody {
	font-size: 80%;
	text-align: right;
}

#newstarstable, #jumpstable {
	width: 15%;
}

#newplanetstable, #routestable {
	width: 35%;
}

#codextable, #visitstable {
	width: 50%;
}

.Odyssey {
	background-color: #05b;
}

.Horizons {
	background-color: #b50;
}

.Base {
	background-color: #555;
}

.taxi {
	color: yellow;
	font-weight: bold;
}

.old {
	color: #aaa;
}

.new {
	color: #a00;
}

.longjump {
	font-weight: bold;
}
