@font-face {
	/* https://www.theleagueofmoveabletype.com/orbitron */
	font-family: 'orbitron';
	src: url('../fonts/orbitron/orbitron-light-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* html { scrollbar-width: none; } */

body {
	margin: 0;
	font-size: 100%;
	font-family: DejaVu Sans, Verdana, sans-serif;
	background-color: #000;
	color: #fff;
	overflow-anchor: none;
}

#board {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.dashboard__table {
	--tabs: 4;
}

/* @media screen and (min-width: 2201px) {dashboard__table { --tabs: 5; }} */
/* @media screen and (max-width: 2200px) {dashboard__table { --tabs: 4; }} */
/*
@media screen and (max-width: 1300px) {dashboard__table { --tabs: 3; }}
@media screen and (max-width: 800px) {dashboard__table { --tabs: 2; }}
@media screen and (max-width: 450px) {dashboard__table { --tabs: 1; }}
*/

.dashboard__table {
	display: flex;
	flex-direction: column;

	--baseWidth: calc(100% / var(--tabs));
	flex: 0 1 var(--baseWidth);
	max-width: 100%;
	box-sizing: border-box;

	border: 1px solid #f94;

	/* experimental */
	contain: content; /* each table is an isolated block */
	content-visibility: auto; /* the page is probably too short for this to have an effect */
	contain-intrinsic-size: auto;
	/* will-change: transform; */ /* quirk to force compositing, repaint tables individually */
}

/* Sizing modifiers */
.dashboard__table.narrow {
	flex: 0 1 calc(var(--baseWidth) * 0.6);
}

.dashboard__table.wide {
	flex: 0 1 calc(var(--baseWidth) * 1.4);
}

.dashboard__table.wider {
	flex: 0 1 calc(var(--baseWidth) * 2);
}

.dashboard__module--log {
	flex: 0 1 100%;
}

.dashboard__table--caption {
	display: none;
}

/* Header and Row Grid Layout */
.dashboard__table--thead, .dashboard__table--row {
	display: grid;
	gap: 2px;
}

.dashboard__table--thead {
	font-family: orbitron, sans-serif;
	color: #f94;
/*	font-weight: bold; */
	text-align: center;
}

.dashboard__table--thead .dashboard__table--cell {
	padding: 0.25em 0;
}

.dashboard__table--tbody {
	font-size: 80%;
	text-align: end;

	display: flex;
	flex-direction: column;
	gap: 2px;
}

.dashboard__table--cell {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 0.25em;
}

/* Table-specific Grid Definitions */
/* 1 column */
.dashboard__module--jumps .dashboard__table--thead, .dashboard__module--jumps .dashboard__table--row { grid-template-columns: 1fr; }

/* Route From, To, Jumps, Distance, Total, Max */
.dashboard__module--routes .dashboard__table--thead, .dashboard__module--routes .dashboard__table--row { grid-template-columns: 25% 1fr 10% 14% 14% 12%; }

/* Discovered Star, Class */
.dashboard__module--newstars .dashboard__table--thead, .dashboard__module--newstars .dashboard__table--row { grid-template-columns: 1fr 20%; }

/* Discovered Body, Class, Atmosphere, Landable */
.dashboard__module--newplanets .dashboard__table--thead, .dashboard__module--newplanets .dashboard__table--row { grid-template-columns: 1fr 25% 20% 15%; }

/* Scanned Body, Scan Type */
.dashboard__module--scanbods .dashboard__table--thead, .dashboard__module--scanbods .dashboard__table--row { grid-template-columns: 1fr 30%; }

/* Settlement Approach, System */
.dashboard__module--asett .dashboard__table--thead, .dashboard__module--asett .dashboard__table--row { grid-template-columns: 50% 1fr; }

/* Docked At, Type, System */
.dashboard__module--locations .dashboard__table--thead, .dashboard__module--locations .dashboard__table--row { grid-template-columns: 40% 25% 1fr; }

/* Updated, Station, System */
.dashboard__module--updates .dashboard__table--thead, .dashboard__module--updates .dashboard__table--row { grid-template-columns: 25% 40% 1fr; }

/* System Visited, Population, Allegiance, Faction, State */
.dashboard__module--visits .dashboard__table--thead, .dashboard__module--visits .dashboard__table--row { grid-template-columns: 25% 15% 15% 1fr 10%; }

/* System, Body, Codex Category, Type, Region */
.dashboard__module--codex .dashboard__table--thead, .dashboard__module--codex .dashboard__table--row { grid-template-columns: 1fr 10% 20% 25% 20%; }

/* Stats, Count */
.dashboard__module--stats .dashboard__table--thead, .dashboard__module--stats .dashboard__table--row { grid-template-columns: 1fr 1fr; }
.dashboard__module--events .dashboard__table--thead, .dashboard__module--events .dashboard__table--row { grid-template-columns: 1fr 25%; }
.dashboard__module--softwares .dashboard__table--thead, .dashboard__module--softwares .dashboard__table--row { grid-template-columns: 1fr 25%; }

/* Legend */
.dashboard__module--legend .dashboard__table--thead, .dashboard__module--legend .dashboard__table--row { grid-template-columns: 1fr; }

.dashboard__module--log .dashboard__table--thead, .dashboard__module--log .dashboard__table--row { grid-template-columns: 6% 12% 10% 15% 6% 1fr 12% 10% 10%; }
/*
.dashboard__module--log .dashboard__table--thead, .dashboard__module--log .dashboard__table--row { grid-template-columns: 6% 12% 10% 15% 6% 10% 1fr 12% 10%; }
*/

/* Colors */
.Odyssey .dashboard__table--cell { background-color: #05b; }
.Horizons .dashboard__table--cell { background-color: #b50; }
.Base .dashboard__table--cell { background-color: #555; }
.Legacy .dashboard__table--cell { background-color: #333; }

.taxi { color: yellow; font-weight: bold; }
.old { color: #aaa; }
.new { color: #a00; }
.longjump { font-weight: bold; }

.dashboard__table--row.data:hover {
	outline: 2px solid yellow;
}

.dashboard__module--legend .dashboard__table--tbody {
	text-align: center;
}


/* InfoBox window */
.infobox {
	position: fixed;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	background-color: rgb(42 42 42 / 0.9);
	color: #fff;
	border: 2px solid #555;

	display: flex;
	flex-direction: column;

	overflow: visible;
}

.infobox__header {
	flex-shrink: 0;
	z-index: 20;

	background-color: #aaa;
	color: #000;
	padding: 0.25em;
}

.infobox__contentbox {
	flex: 1;
	min-height: 0;

	overflow: auto;
	scrollbar-width: auto;
}

.infobox__button {
	position: relative;
	border-radius: 0.5em;
	outline: 0px solid transparent;
	outline-offset: 0px;
	transition: outline-offset 0.2s ease-out, outline-color 0.2s ease-out;
}

[class*="infobox__button--signal-"] {
	animation: infobox__button_fx--ripple-out 0.6s cubic-bezier(0, 0, 0.2, 1);
	will-change: outline-offset, outline-color;
	z-index: 10;
}

.infobox__button--signal-success {
	--pulse-color: rgb(34 197 94 / 0.8);
}

.infobox__button--signal-error {
	--pulse-color: rgb(239 68 68 / 0.8);
}

@keyframes infobox__button_fx--ripple-out {
	0% {
		outline: 4px solid var(--pulse-color);
		outline-offset: 0px;
	}
	25% {
		outline-width: 4px;
	}
	100% {
		outline: 0px solid transparent;
		outline-offset: 16px;
	}
}
